edge-tts>=7.0.2
emoji>=2.14.0
fastapi>=0.115.5
greenlet>=3.1.1
httpx>=0.27.2
# numpy>=2.0.2
openai>=1.63.0
psycopg>=3.2.3
psycopg-binary>=3.2.3
pydub>=0.25.1
pytest>=8.3.3
pytest_asyncio>=0.24.0
python-multipart>=0.0.19
websockets>=14.1
requests>=2.32.3
uvicorn>=0.32.1
wave>=0.0.2
yacs>=0.1.8
# git+https://github.com/aliyun/alibabacloud-nls-python-sdk.git@master#egg=alibabacloud-nls-python-sdk